/* SettingsPage.css */
.settings-page {
    background-color: #242424;
    color: #D5D5D5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.back-button {
    color: #D5D5D5;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    margin-bottom: 10px;
}

.setting-options {
    display: flex;
    flex-direction: column;
}

.setting-row {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    background-color: #3A3A3A;
    border-radius: 10px;
    margin-bottom: 12px;
    text-decoration: none; /* Remove link underline */
    color: inherit; /* Inherit text color from parent */
    transition: background-color 0.3s ease;
}

.setting-row:hover {
    background-color: #4A4A4A;
}

.setting-icon {
    margin-right: 15px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-icon .material-symbols-outlined {
    font-size: 24px;
    opacity: 0.7;
    color: #D5D5D5;
}

/* Adjust layout and appearance of the icons and text */
.setting-options span {
    flex-grow: 1; /* Allow the label text to expand */
}
