<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Задач</title> 
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <img src="../assets/icons/menu.svg" alt="Меню" class="menu-icon">
    <main class="tasks">
    </main>
    <div class="add-task">
        <button aria-label="Добавить новую задачу"> 
        </button>
    </div>
    <script src="proba.js" defer></script>
</body>
</html>