<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Макет приложения</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<img src="../assets/icons/menu.svg" alt="Меню" class="menu-icon">
<content class="tasks">
    <div class="task-container">
        <div class="task">
            <img src="../assets/icons/task.svg" alt="Задача" class="task-icon">
            <div class="task-body">
                <span class="task-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit sodales lacus, sit amet gravida est efficitur ac. Fusce vulputate malesuada mi nec.</span>
            </div>
        </div>
        <div class="subtasks">
            <img src="../assets/icons/task.svg" alt="Задача">
            <span>qweqwe</span>
        </div>
        <div class="task-footer">
            <span class="task-date">сб 12.12 0 из 2</span>
            <img src="../assets/icons/minus.svg" alt="Добавить задачу">
        </div>
    </div>

    <div class="task-container">
        <div class="task">
            <img src="../assets/icons/task.svg" alt="Задача" class="task-icon">
            <div class="task-body">
                <span class="task-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit sodales lacus, sit amet gravida est efficitur ac. Fusce vulputate malesuada mi nec.</span>
            </div>
        </div>
        <div class="task-footer">
            <span class="task-date">сб 12.12 0 из 2</span>
            <img src="../assets/icons/plus.svg" alt="Добавить задачу">
        </div>
    </div>

    <div class="task-container">
        <div class="task">
            <img src="../assets/icons/task.svg" alt="Задача" class="task-icon">
            <div class="task-body">
                <span class="task-text">мяу.</span>
            </div>
        </div>
        <div class="task-footer">
            <span class="task-date">сб 12.12 0 из 2</span>
            <img src="../assets/icons/plus.svg" alt="Добавить задачу">
        </div>
    </div>
    <div class="task-container">
        <div class="task">
            <img src="../assets/icons/task.svg" alt="Задача" class="task-icon">
            <div class="task-body">
                <span class="task-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit sodales lacus, sit amet gravida est efficitur ac. Fusce vulputate malesuada mi nec.</span>
            </div>
        </div>
        <div class="task-footer">
            <span class="task-date">сб 12.12 0 из 2</span>
            <img src="../assets/icons/plus.svg" alt="Добавить задачу">
        </div>
    </div>
    <div class="task-container">
        <div class="task">
            <img src="../assets/icons/task.svg" alt="Задача" class="task-icon">
            <div class="task-body">
                <span class="task-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit sodales lacus, sit amet gravida est efficitur ac. Fusce vulputate malesuada mi nec.</span>
            </div>
        </div>
        <div class="task-footer">
            <span class="task-date">сб 12.12 0 из 2</span>
            <img src="../assets/icons/plus.svg" alt="Добавить задачу">
        </div>
    </div>
</content>

<div class="add-task">
    <button>
    </button>

</div> <!-- Closing add-task div -->

<script src="proba.js" defer></script> <!-- Adjust path if needed -->
</body>
</html>
</body>
</html>